# Keep CSS and JS vendors
!admin/resources/scripts/vendor/
!admin/resources/styles/vendor/
!news/resources/scripts/vendor/
!news/resources/styles/vendor/

# Ignore sass cache files
deploy/admin/.sass-cache/
deploy/admin/node_modules/
deploy/admin/package-lock.json
deploy/news/.sass-cache/
deploy/news/node_modules/
deploy/news/package-lock.json
